@page "/"
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Bine ai venit</h1>
    <h2> <a href=https://localhost:44389/Cars> Click aici pentru a vedea masinile</a>.</h2>
</div>
